@media screen and (max-width: 1200px) {
  .nav-links{
    gap:1rem;
    list-style: none;
    font-size: 1rem;
  }
  .logo{
    font-size: 1rem;
    }
  body{
    font-family: 'Poppins', sans-serif;
    font-size: small; 
  }
  #typer {
    font-size: 1rem;
  }
  #profile h1 { 
    font-size: 1rem;
  }
  #hello {
    font-size: 1rem;
  }
  #typer span::after {
      content: "";
      height: 18px;
      width: 2px;
      position: absolute;
      top: 50%;
      right: -8px;
      background: rgb(85, 85, 85);
      transform: translateY(-45%);
      animation: blink 0.7s infinite;
  }

  #about-container .section-container {
    flex-direction: column;
  }

  #projects .carousel {
    width: 100%;
  }

  #projects .article-container {
    width: 80%;
  }
 

}