/* Importing poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* general page styling */
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

#background{
  width: 100%;
  height: 100vh;
  background-size: 400%;
  position: fixed;
  background-image: linear-gradient(45deg, #cfd9df, #e2ebf0);
  z-index: -100000;
  animation: animate 2s ease infinite alternate;
}

@keyframes animate{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

html{
  scroll-behavior: smooth;
}

p{
  color:rgb(85, 85, 85)
}

a, .btn{
  transition: all 300ms ease;
}

nav, .nav-links{
  display: flex;
}

nav{
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;

}
.nav-links{
  gap:2rem;
  list-style: none;
  font-size: 1.5rem;
}

#nav-container{
position: sticky;
top: 0;
height: 8vh;
align-items: center;
justify-content: center;
background-color: rgb(255, 255, 255);
z-index: 100;
border-bottom: 1px solid rgb(179, 179, 179);
box-shadow: 0 4px 4px rgb(170, 170, 170);
}

a{
color:black;
text-decoration: none;
}

.underline:hover{
color:gray;
text-decoration: underline;
text-underline-offset: 0.7rem;
}

.logo{
font-size: 2rem;
}

section{
display: flex;
padding: 2rem 10rem 0 10rem;
height: 100vh;
align-items: center;
justify-content: center;
box-sizing: border-box;
min-height: fit-content;
}

.section-container,#profile{
display: flex;
} 

.section__text{
text-align: center;
align-self: center;
}
.section__text p{
font-weight: 600;
}
.section__text__p2{
font-size: 1.75rem;
margin-bottom: 1rem;
}

.section__text__p1{
text-align: center;
}

.title{
font-size: 3rem;
text-align: center;
}

/* Profile section */

#profile h1 { 
  font-size: 4rem;
  }
  
  #hello {
  font-size: 3rem;
  }
  
  #typer {
  font-size: 2.5rem;
  }
  
  #view-work button {
    font: inherit;
  }
  
  .view {
    background: none;
    border-radius: 2rem;
    padding: 1.5% 5%;
  }
  
  .view:hover {
    transition: 200ms ease-in;
    transform: scale(1.15);
    cursor: pointer;
  }
  
  .darr{
    font-size: 1.5rem;
  }
  
  #typer span {
    position: relative;
    margin: 10px;
  }
  
  #typer span::after {
    content: "";
    height: 50px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: rgb(85, 85, 85);
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
  }
  
  #typer span.stop-blinking::before {
    animation: none;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  #profile{
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 0;
  }
  
  #socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  }
  .icon{
  cursor: pointer;
  height: 2rem;
  }
  
  .btn-container {
  gap: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  }  
  
  .btn{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
  cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
  background: rgb(20, 19, 19);
  color: white;
  }
  
  .btn-color-1:hover {
  background: rgb(0, 0, 0);
  }
  
  .btn-color-2 {
  background: none;
  }
  
  .btn-color-2:hover {
  border: rgb        (255, 255, 255) 0.1rem solid;
  }
  
  #view-work {
  margin-top: 20px;
  }

  /* about section  */

#about{
  position: relative;
  display: flex;
  align-items: start;
  }
  
  .about-containers, .about-deails-container{
  display: flex; 
  align-items: center;
  }
  
  .about-titles{
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  
  .about-containers{
  gap:2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  }
  
  .about-deails-container{
  justify-content: center;
  flex-direction: column;
  flex: 0 0 50%;
  }
  
  .about-icon{
  height: 3rem;
  cursor: default;
  width: 3rem;
  }
  
  .arrowup{
  position: relative;
  }
  
  .card-container{
  display: flex;
  height: 100%;
  padding: 1.5rem;
  flex-direction: column;
  flex: 1;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163,163,163);
  text-align: center;
  align-items: center;
  justify-content: center;
  }
  
  .text-container{
  display: flex;
  text-align: center;
  padding: 0 10% 0 10%;
  }
  
  .section-container{
  display: flex;
  gap: 4rem;
  height: 80%;
  }
  
  
  .skills-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  }
  
  
  .skills-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    }
  
  .article-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2rem 0;
  width: 100%;
  justify-content: space-around;
  }
  
  article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  }
  
  article .icon {
  cursor: default;
  }
  
  
/* PROJECTS SECTION */

#projects{
  position: relative;
  display: flex;
  align-items: start;
}

.skills-sub-title, .project-title {
  align-self: center;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 30vh;
}

.project-title {
  margin: 1rem;
  color: black;
}
.details-container{
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.btn-nav {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: #000;
  flex: 0 0 10%; /* Make the buttons take 10% of the width each */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all; /* Allow buttons to be clickable */
}

.btn-nav:focus {
  outline: none;
}

.project-details-container {
  position: relative;
  width: 80%; /* Make the project details container take 80% of the width */
  margin: 0 auto; /* Center the project details container */
}

.project-containers {
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  flex-direction: row;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  }
  
  .contact-info-upper-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
  flex-direction: row;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem 0;
  padding: 0.5rem;
  }
  
  .contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
  }
  
  .contact-info-container p {
  font-size: larger;
  }
  
  .contact-icon {
  cursor: default;
  }
  
  .email-icon {
  height: 2.5rem;
  }

/* Form */
#form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

/* Style for the form inputs and textarea */
#form input[type="text"],
#form input[type="email"],
#form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
#form textarea {
  height: 100px; 
}
/* Style for the submit button */
#form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Change button color on hover */
#form input[type="submit"]:hover {
  background-color: #45a049;
}

  /* FOOTER SECTION */

footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 4px rgb(170, 170, 170);
  height: 5vh;
  width: 100%;
  }
  
  footer p {
  text-align: center;
  }
  